%section.row.content
  .hero-unit
    %h2
      Ladies and Gents,
    %p
      -if enough_votes?
        <strong><em>Whoo buddy</em></strong>, it looks like we got ourselves a game for
        %span.label.label-important= current_game_date
      -else
        <strong><em>No game this week</em></strong>, we haven't had enough folks to vote on a date for the week of
        %strong= game_week_date

    =link_to 'More Info', about_path, :class => "btn btn-inverse btn-large"

    / =link_to '', {:controller => "about", :action => "index", :class => "btn btn-info btn-large", :title => "Get more info on the game, driving directions, and how to use this site."} do
    /   %i.icon-question-sign.icon-white
    /   More Info

  .meat_and_potatoes
    -if current_player
      =render :partial => "common/vote_form"
    -else
      =render :partial => "common/login"

    =render :partial => "common/vote_results"