%section.row.content
  .meat_and_potatoes
    .about
      %h3 So what's this all about?
      %div
        %p You as a player at the <strong><em>home game</em></strong> get to have a vote of what day works best for you each week. I'm just trying to provide the easiest way to feed your gambling habit. :)

        %h4 How does it work you ask?
        %p Well, you pick a day that works best for you, and this being a democratic society and all, the majority rules. Which ever day is chosen will be set in stone and emailed out to everyone that is signed up. The other benefit of all of this is it serves as a "first come, first served" system, since room at the table is limited. <em>You gotta be quick on the draw to get into this rowdy game!</em>

        %h4 House rules and what-nots
        %p Yeah, this is a friendly <strong><em>home game</em></strong>, and while some players are more serious with the game of Texas Hold'em than others, we still have to have some basic rules since there is real money involved. So, here goes:
        %ol
          %li The obligatory, "The first rule of Home Game is you don't talk about Home Game".
          %li We have a seat maximum of 10, so this is first come, first served. You have to be one of the first to vote each week to secure a seat.
          %li This is No-limit Texas Hold'em, meaning, you can push all of your chips into the pot at any time; be mentally and emotionally ready to possibly lose that money (hey, money is money, and no one likes to lose it, but you made that decision to go all-in).
          %li There is an initial minimum buy-in of $20, and a constant maximum buy-in of $40. You can re-buy for any amount of up to $40 at any given time. We don't need any high-rollers wearing a cowboy hat and cowboy boots bullying the table.
          %li We're playing pretty small blinds: $.25 / $.50. What does this mean? There is a small blind and a big blind directly to the left of the active dealer. We also allow "blind straddles" where the first to act (the person right after the big blind) has the option of raising the big blind (but without seeing his/her cards yet, e.g. "blind"). They then have the option to re-raise their own blind straddle once the action gets back around to them. Lastly, if you intend on betting or raising, you must bet at least the big blind ($.50) or raise double the big blind. That is, unless someone else has bet before you, you must call or raise their initial bet.
          %li If you win a big pot, be courteous to everyone else at the table and <strong>don't leave immediately after</strong> winning said pot.
          %li Bring your own food and drinks if you want them, though this may change as we play more, as I'd like to try to have snacks and drinks available.

        %h4 Sounds good, when and where are we playing?
        %p
          1926 Cahaba Cove, Hoover, AL 35244<br />The game typically gets going around 7:30PM.<br />
          The day we end up playing,
          =link_to 'all depends on you', root_url

        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=&amp;daddr=33.366719,-86.806747&amp;hl=en&amp;geocode=&amp;sll=33.36676,-86.806537&amp;sspn=0.000701,0.001032&amp;mra=mift&amp;mrsp=1&amp;sz=21&amp;ie=UTF8&amp;ll=33.36676,-86.806537&amp;spn=0.000701,0.001032&amp;t=h&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=&amp;daddr=33.366719,-86.806747&amp;hl=en&amp;geocode=&amp;sll=33.36676,-86.806537&amp;sspn=0.000701,0.001032&amp;mra=mift&amp;mrsp=1&amp;sz=21&amp;ie=UTF8&amp;ll=33.36676,-86.806537&amp;spn=0.000701,0.001032&amp;t=h" style="color:#0000FF;text-align:left">View Larger Map</a></small>



