@import "twitter/bootstrap";
@import "twitter/bootstrap/responsive";
@import url(http://fonts.googleapis.com/css?family=Bangers);

body {
  background:#fff url('/images/bg.jpg') repeat 0 0;
}

.debug {
  position:fixed;
  bottom:0;
  width:100%;
}

a, a:link, a:active, a:visited {
  text-decoration:none;
  color:rgba(149,59,57,1);
  border-bottom:1px dotted rgba(149,59,57,1);
  -webkit-transition:color .25s ease-in;
  -moz-transition:color .25s ease-in;
  -o-transition:color .25s ease-in;
  transition:color .25s ease-in;
}
small a {color:rgba(149,59,57,1) !important;}
a:hover {
  text-decoration:none;
  color:#777;
  border-bottom:1px dotted #777;
}

h1 {
  display:inline-block;
  font-family:'Bangers', sans-serif;
  padding-right:135px;
  font-size:46px;
  margin:0;
  text-shadow:1px 1px 2px #888, -1px -1px 2px #ddd;
  background:transparent url('/images/suits.png') no-repeat 100% 50%;
  a, a:link, a:visited {
    color:#000;
    text-decoration:none;
    border:0;
    -webkit-transition:color .25s ease-in;
    -moz-transition:color .25s ease-in;
    -o-transition:color .25s ease-in;
    transition:color .25s ease-in;
  }
  a:hover {
    color:#333;
    border:0;
  }
}

h2 {
  margin:0 0 10px;
  border-bottom:1px dotted #ddd;
  color:rgba(0,0,0,.85);
  text-shadow:1px 1px 1px #fff;
  span {
    font-size:80%;
  }
}

h3 {
  border-bottom:1px solid rgba(149, 59, 57, .15);
  padding:0 20px 5px;
}

.container {
  position:relative;
  .alert-block {
    position:absolute;
    left:50%;
    top:5px;
    margin-left:-150px;
    padding:0;
    min-width:300px;
    .close {
      line-height:30px;
      text-decoration:none;
      margin-right:10px;
      border:0;
    }
  }
}


// Our header
header {
  padding:10px 5px 0;
  margin:0;
  .span3 {
    float:right;
    margin:0;
    padding:0;
    line-height:40px;
    text-align:right;
    dt, dd {
      display:inline-block;
    }
    dt {
      strong {
        font-style:italic;
      }
    }
    dd:last-child {
      border-left:1px dotted #bbb;
      padding-left:10px;
      margin-left:5px;
    }
  }
}

.row {margin:15px 0 0;}

.content.home .meat_and_potatoes {padding:0 5px;}
.content {
  margin:0;
  padding:15px 0 0;

  // The main focus section on the home page
  .hero-unit {
    padding:30px 40px;
    margin-bottom:20px;
    background:rgba(255,255,255,0.3);
    border:1px solid rgba(193, 197, 183, 0.65);
    -moz-box-shadow:inset 0 0 30px rgba(0,0,0,.1), 1px -1px 0 rgba(255,255,255,.15), -1px -1px 0 rgba(255,255,255,.15), 0 1px 0 rgba(255, 255, 255, 0.15);
    -webkit-box-shadow:inset 0 0 30px rgba(0,0,0,.1), 1px -1px 0 rgba(255,255,255,.15), -1px -1px 0 rgba(255,255,255,.15), 0 1px 0 rgba(255, 255, 255, 0.15);
    box-shadow:inset 0 0 30px rgba(0,0,0,.1), 1px -1px 0 rgba(255,255,255,.15), -1px -1px 0 rgba(255,255,255,.15), 0 1px 0 rgba(255, 255, 255, 0.15);
    h2 {
      margin-left:0;
      font-size:32px;
      font-family:helvetica;
    }
    p {
      font-size:22px;
      span.label-important {
        font-size:22px;
        padding:5px 10px;
      }
    }
    .btn-inverse {
      margin-top:5px;
      color:#fff;
      text-decoration:none;
    }
    .btn-inverse:before {
      content:"♠ ";
      font-size:18px;
    }
  }

  // The main section of content beyond the hero-unit
  .meat_and_potatoes {
    // Handles each of the sections within meat and taters
    .login_form, .register_form, .vote_form, .vote_results, .about {
      float:left;
      width:33%;
      padding:10px 0;
      form, aside {
        padding:10px 20px;
        border-top:1px solid rgba(255,255,255,.35);
      }
      aside {
        padding-top:15px;
      }
    }

    // The login and voting forms on the home page
    .login_form, .vote_form {
      background:rgba(149,59,57,.1);
      border:1px solid rgba(149, 59, 57, .1);
    }

    // The voting results area on the home page
    .vote_results, .chat {
      float:left;
      padding:11px 0;
      margin:0 10px;
      ul {
        margin:10px 0;
        padding:0;
        list-style:none;
        li {
          margin:5px 0;
        }
        #my_vote {
          color:rgba(149,59,57,1);
        }
      }
    }

    // Handles the registration form and static about page
    .register_form, .about {
      width:100%;
      float:none;
      margin-bottom:-25px;
      background:rgba(255,255,255,.3);
      h3 {
        padding:10px 30px;
      }
      form {
        padding:15px 30px;
      }
    }

    // Specific to the static about page
    .about {
      float:left;
      h3 {
        padding:10px 30px;
      }
      article {
        padding:15px 30px;
        border-top:1px solid #eee;
      }
      .main {
        float:left;
        width:600px;
      }
      aside {
        border:0;
        padding:0;
        float:right;
      }
    }
  }
}

// The footer/branding section
footer {
  margin-top:25px;
  clear:both;
  background:transparent;
  background-image:
    -webkit-radial-gradient(center top , ellipse farthest-side, rgba(193,197,183,0.9), rgba(193,197,183,0) 100%),
    url('/images/megalithic_footer_updated-flipped.png');
  background-repeat: no-repeat;
  background-size: 100% 15px, auto auto;
  background-position:0 0, 30px 0;
  height:100%;
  border-top:1px solid rgba(255,255,255,0.5);
  .megalithic_footer {
    border-top:1px solid rgba(193, 197, 183, 0.85);
    padding:0 30px 0 175px;
    overflow:auto;
    .copyright {
      text-align:left;
      height:80px;
      padding-top:20px;
      vertical-align:middle;
      color:rgba(149, 59, 57, .35);
      text-shadow:1px 1px 0px rgba(255,255,225,0.5);
      float:left;
    }
    .sundries {
      text-align:right;
      color:#888;
      padding-top:20px;
    }
  }
}

// General styles for forms (potentially overriding/fixing twitter bootstrap form issues when used with twitter_bootstrap_form_for and bootstrap-sass-rails)
fieldset {
  legend {
    font-size:100%;
    font-style:italic;
    color:#777;
    border:0;
  }
  legend:before {
    color:#f00;
    content: "♦ ";
  }
  label {
    margin:5px 0;
  }
  legend + .control-group {
    margin-top:5px;
  }
  .control-group {
    margin-bottom:5px;
  }
  .date_options {
    margin:0;
  }
}

// More form related styles, specific to button actions
.actions {
  margin:10px 0;
}
.alt-action {
  margin:5px 0 5px 10px;
  vertical-align: middle;
  font-style:italic;
}